# Ensure shell scripts and runtime scripts keep LF line endings
*.sh text eol=lf
vendor/laravel/sail/runtimes/**/start-container text eol=lf
scripts/* text eol=lf
*.ps1 text eol=lf
Dockerfile text eol=lf
compose.yaml text eol=lf
.github/** text eol=lf* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
