name: Terraform checks

on:
  pull_request:
    paths:
      - 'terraform/**'
  push:
    branches:
      - master
    paths:
      - 'terraform/**'

jobs:
  fmt-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.4.0'
      - name: Terraform fmt check
        working-directory: ./terraform
        run: terraform fmt -check -diff
      - name: Terraform init
        working-directory: ./terraform
        run: terraform init -backend=false
      - name: Terraform validate
        working-directory: ./terraform
        run: terraform validate
